<h2 style="color:red">Index page all items</h2><br>

<% unless @items.empty? %>
   <table>
      <tr>
         <th>item id</th>
         <th>Name</th>
         <th>Price</th>
         <th>Description</th>
         <th>Rating</th>
         <th>Delete</th>
      </tr>  
   <%  @items.sort.each do |item| %>
      <tr>
      <td><%= item.id %></td>  
      <td><%= link_to item.name, item_path(item) %></td>
      <td><%= item.price %></td>
      <td><%= "img" if item.description %></td>
      <td><%= item.votes_count %>, <%= link_to "+", upvote_item_path(item) %></td>
      <td><%= button_to 'delete', item_path(item), method: :delete %></td>
      </tr>
   <% end %> 


   </table>


   <td><%= button_to 'Only expensive', expensive_items_path, method: :get%></td>

   <br>

   <%= link_to "new item", new_item_path %>
<% else %>
   <h2 style="color:red">No items founded</h2><br>
   <%= link_to "new item", new_item_path %>
<% end %>

<%= render partial: 'shared/email' %>
