<h2 style="color:red">Show item</h2><br>

<h4><%= @item.name.upcase %></h4>
<table>
  <tr>
    <th>item id:</th>
    <th>Name:</th>
    <th>Price:</th>
    <th>Description:</th>
  </tr>
  <tr>
    <th><%= @item.id %></th>
    <th><%= @item.name %></th>
    <th><%= @item.price %></th>
    <th><%= urls_to_content(@item.description) %></th>
  </tr>
</table>


<br />
<br />
<%= button_to "edit #{@item.name}", edit_item_path, method: :get %>
<%= button_to 'Delete', item_path(@item), method: :delete %>
<%= button_to 'index', items_path, method: :get %>

<%= render partial: 'shared/email' %>